<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vgame.QAgame"
    android:installLocation="preferExternal">

    <application
        android:name="vgame.QAgame.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vgame.QAgame.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vgame.QAgame.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vgame.QAgame.activity.PlayerActivity"
            android:screenOrientation="portrait">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="vgame.QAgame.activity.HighScoreActivity"></activity>
    </application>

</manifest>